*{
    margin:0px;
    padding:0px;
    box-sizing: border-box; 
}
.container{
display: flex;
flex-flow: column nowrap;
margin: 0%;
padding: 0%;
}
.header{
    display: flex;
    flex-flow: column nowrap;
}
.filadelphia{
    width: 100%;
    height: 100px;
    padding:0%;
    margin-bottom: 0%;
}
    .menu{
    margin-top: 0%;
    width: 100%;
    background: white;
    display: flex;
    height: 100px;
    align-items: center;
    }

        .nav{
            background-image: url(img/menu_icono.png);
            flex: 1 1 auto;
            background-repeat:no-repeat;
            background-size:contain;
            height: 80px;
            display: block;
        }
        .search{
            background-image: url(img/buscar_icono.png);
            background-repeat:no-repeat;
            background-size:contain;
            flex: 1 1 auto;
            height: 80px;

        }
        .logo{
            background-image: url(img/LOGO_icono.png);
            background-repeat:no-repeat;
            background-size:contain;
            flex: 7 1 auto;
            height: 80px;
            width: 10%;
            margin-left: 15%;
        }
        .profile{
            background-image: url(img/person_icono.png);
            background-repeat:no-repeat;
            background-size:contain;
            flex: 1 1 auto;
            height: 80px;

        }
        .excelsior-nav{
            display: flex;
            width: 100%;
            height:50px;
            margin-top: 0%;
            margin-bottom: 0%;
            padding: 0%;
        }
    
    
        .publicidad-img{
            display: flex;
            width: 100%;
            height: 50%;
        }


.section-one{
    background: white;
    display:flex;
    flex-flow: column nowrap;
}
.xavi-big{
    width: 100%;
    height: 300px;
    margin-bottom: 0%;
}
h3{
    font-size: small;
    color:orange
}
h2{
    font-size: larger;
    text-align: left;
}
p{
    text-align: left;
}
.section-two{
    display:grid;
    grid-template-columns: minmax(300px, 1fr) 1fr;/mantienen proporcio la primera sera mas finita que la segunda/
    grid-auto-rows: 500px ;
    gap: 20px;
}
.aside{
    margin-top: 5%;
    background-color: white;
    display:grid;
    grid-template-columns:repeat(1, 1fr) ;
    
}
    .xavi-small{
        width:100%;
        height: 100%;
        object-fit:contain;
    }
    .opinion{
        display:flex;
    }

.article-opinion{
    width: 100%;
    height: 100px;
    padding:0%;
    margin-bottom: 0%;
    
}
.tittlepublicidad{
    font-size: small;
    color:lightgray;
    text-align: center;
}
.publicidad{
    display: flex;

}
.publicidad-gral{
    width: 100%;
    height: 100px;
    padding:0%;
    margin-bottom: 0%;
}
.no-puedes{
    font-size: small;
    color:red;
    text-align: left;
}
.under{
    margin-bottom: 3%;
}
.xavi-bigs{
    width: 100%;
    height: 300px;
    margin-bottom: 3%;
    margin-top: 3%;
}
.linea{
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
.under-line{
    margin-top: 3%;
}
.footer{
    background: pink;
}
