*{
    margin:0px;
    padding:0px;
    box-sizing: border-box; 
}
.container{
display: flex;
flex-flow: column nowrap;
margin: 0%;
padding: 0%;
}
.header{
    background:yellow;
    display: flex;
    flex-flow: column nowrap;
}
.filadelphia{
    width: 100%;
    height: 100px;
    padding:0%;
    margin-bottom: 0%;
}
    .menu{
    margin-top: 0%;
    width: 100%;
    background: white;
    display: flex;
    height: 100px;
    align-items: center;
    }

        .nav{
            background-image: url(img/menu_icono.png);
            flex: 1 1 auto;
            background-repeat:no-repeat;
            background-size:contain;
            height: 80px;
            display: block;
        }
        .search{
            background-image: url(img/buscar_icono.png);
            background-repeat:no-repeat;
            background-size:contain;
            flex: 1 1 auto;
            height: 80px;

        }
        .logo{
            background-image: url(img/LOGO_icono.png);
            background-repeat:no-repeat;
            background-size:contain;
            flex: 7 1 auto;
            height: 80px;
            width: 10%;
            margin-left: 15%;
        }
        .profile{
            background-image: url(img/person_icono.png);
            background-repeat:no-repeat;
            background-size:contain;
            flex: 1 1 auto;
            height: 80px;

        }
        .excelsior-nav{
            display: flex;
            width: 100%;
            height:50px;
            margin-top: 0%;
            margin-bottom: 0%;
            padding: 0%;
        }
    
    
        .publicidad-img{
            display: flex;
            width: 100%;
            height: 50%;
        }

/*.caliente-apuestas{
    display: flex;
    flex-flow: column nowrap;
}
.caliente{
    background-image: url(img/anuncio_caliente.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
}*/
.section-one{
    background: green;
    display:flex;
}
    .articles{
        background: #4e4;
        flex:  1 auto;
    }
    .aside{
        background-color: beige;
        flex:1 1 auto;
        display: flex;
        flex-flow:row wrap;
    }
    .advertising{
        background: pink;
    }
.opinion{
    background-color: aqua;
}
.article-opinion{
    background: rgb(204, 56, 81);
}
.publicidad{
    background-image: url(img/publicidadGeneral.jpg);
}
   /* .pulicidad-img{
        background: #4e4;
    }*/
.footer{
    background: pink;
}

@media all and (max-width:800px){
    .section-one{
        flex-direction:column ;
    }


}
